footer {
    background-color: #0A141E;
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    >img { 
        height: 44px;
        margin-left: 32px;
    }
}  

.social-media {
    display: flex;
    gap: 16px; 
    margin-right: 32px;
    >a {
        padding: 0;
            >img {
                width: 40px;
                height: 40px;
            }
        }
}