<footer id="footer">
    <div class="logo">
        <img src="./../../../../assets/img/sakura-footer.png" alt="Logo">
    </div>
    <div class="social-media">
        <a href="imprint">Imprint</a>
        <a href="https://www.instagram.com/"><img src="./../../../../assets/img/instagram.svg" alt="Instragram"></a>
        <a href="https://de-de.facebook.com/"><img src="./../../../../assets/img/facebook.svg" alt="Facebook"></a>
        <a href="https://www.tripadvisor.de/"><img src="./../../../../assets/img/tripadvisor.svg" alt="Tripadvisor"></a>
    </div>
</footer>
