<section class="our-menu padding-160" id="our-menu">
    <div class="section-line">
        <h2>OUR MENU</h2>
    </div>
    <div class="food food-mobile">
        <img src="./../../../assets/img/soup.png" alt="Suppe" class="food-picture">
        <div class="food-table">
            <span>Tonkotsu Ramen</span>
            <table>
                <tr>
                    <td>CHICKEN</td>
                    <td>11,95 €</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12,95 €</td>
                </tr>
                <tr>
                    <td>SHRIPM</td>
                    <td>13,95 €</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="food food-mobile-order">
        <div class="food-table">
            <span>Spicy Miso Ramen</span>
            <table>
                <tr>
                    <td>CHICKEN</td>
                    <td>11,95 €</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12,95 €</td>
                </tr>
                <tr>
                    <td>SHRIPM</td>
                    <td>13,95 €</td>
                </tr>
            </table>
        </div>
        <img src="./../../../assets/img/soup2.png" alt="Suppe" class="food-picture">
    </div>
    <div class="food food-mobile">
        <img src="./../../../assets/img/meet.png" alt="Fleisch" class="food-picture">
        <div class="food-table">
            <span>Shio Ramen</span>
            <table>
                <tr>
                    <td>CHICKEN</td>
                    <td>11,95 €</td>
                </tr>
                <tr>
                    <td>BEEF</td>
                    <td>12,95 €</td>
                </tr>
                <tr>
                    <td>SHRIPM</td>
                    <td>13,95 €</td>
                </tr>
            </table>
        </div>
    </div>
</section>
