<section class="order-section padding-160 order-section-mobile">
    <div class="section-line">
        <h2>HOW TO ORDER</h2>
    </div>
    <div class="order-picture-section order-picture-mobile">
        <div class="pictures">
            <img src="./../../../assets/img/noodle.png" class="order-img" alt="Nudeln">
            <span>
                Pick your noodle
            </span>
        </div>
        <div class="pictures">
            <img src="./../../../assets/img/broth.png" class="order-img" alt="Suppen">
            <span>
                Pick your broth
            </span>
        </div>
        <div class="pictures">
            <img src="./../../../assets/img/egg.png" class="order-img" alt="Eier">
            <span>
                add your toppings
            </span>
        </div>
    </div>
</section>